<link rel="stylesheet" type="text/css"  href="F:\myapp2\src\app\app.component.css"> 
<div>
    <h1 class = "logo" >Felipe de Paula Spinoso</h1>

    <h2>Desenvolvedor mobile</h2>

    <span>
        <h3>EMAIL:</h3>
        <P>felipe.spinoso&#64;hotmail.com</P>
    </span>

    <span>
        <h3>TELEFONE:</h3>
        <p>11 999870813</p>
    </span>

    <span>
        <h3>INFORMAÇÕES</h3>
        <P> 22 anos</P>
        <br>
        <p>brasileiro nato</p>
    </span>
</div>

<div>
    <h2>IDIOMAS:</h2>
    <br>
    <P>
        <strong>
            Inglês:
        </strong>
        intermediário
    </P>
    <p>
        <strong>
            Italiano:
        </strong>
        basico
    </p>

    <p>
        <strong>
            Espanhol:
        </strong>
        intermediário
    </p>
</div>
<div>
    <h2>OBJETIVO:</h2>
    <br>
    <p>Trabalhar na area como desenvolvedor mobile, ou desenvolvedor java em grupo,
        e crescer cada vez mais como profissional </p>
</div>

<div>
    <h2>FORMAÇÃO ACADÊMICA</h2>
    <P><strong>Faculdade de tecnologia - Fatec</strong></P>
    <p>Análise e Desenvolvimento de Sistemas - Cursando</p>

</div>

<div>

    <h2>Hisotorico profissional</h2>
    <br>
    <h3>Ajudante de mecânica automotiva</h3>
    <strong>Moura Escapamentos e mecanica</strong>
    <p>Experiência como mecanico de mecânica automotiva, no qual eu atendia e ajudava o mecanico na manutenção dos
        automoveis.</p>
    <br>
    <h3>Auxiliar de logística</h3>
    <strong>Verzani e Sandrini</strong>
    <p>Trabalhei tercerizado na empresa Heineiken de Itu, onde fazia serviços que davam apoio a logística da empresa.
    </p>
    <br>
    <h3>Auxiliar multifuncional</h3>
    <strong>Prodesp - Poupa tempo</strong>
    <p>Trabalhei na realização de documentos pessoais e veiculares no poupa tempo</p>
    <br>
    <h3>Substituto de TI</h3>
    <strong>Prodesp - poupa tempo</strong>
    <p>No poupa tempo, cobri férias do Técnico de TI da unidade, aonde eu resolvia os problemas internos do sistemas e
        caso fosse externo eu abria o chamado</p>
    <br>
    <h3>Administrador</h3>
    <strong>BRA CLIMA</strong>
    <p>trabalhei como administrador de empresas na empresa br clima, no qual eu fiquei encarregado de verificar as
        atividades e custos operacionais da empresa</p>

</div>
<br>
<br>

<div>
    <h2>Habilidades</h2>
    <span>
        <strong> Habilidade com sistema operacional</strong>
        <p>windows e MacOS </p>
    </span>
    <span>
        <strong> Pacote Office</strong>
        
    </span>
    <span>
        <strong> Comunicação em grupo</strong>
        
    </span>
    <span>
        <strong> Administração empresárial </strong>
        
    </span>
    <span>
        <strong> Linguagem C </strong>
        <p> Conhecimento intermediário</p>
    </span>
    <span>
        <strong> HTML 5</strong>
        <p> Avançado </p>
    </span>
    <span>
        <strong> CSS 3 </strong> 
        <p>Avançado </p>
    </span>
    <span>
        <strong>JavaScript </strong>
        <p> intermediário </p>
    </span>
    <span>
        <strong> Boostrap 5 </strong>
        <p> intermediário </p>
    </span>
    <span>
        <strong> Springboot </strong>
        <p> básico avançando para o intermediário </p>
    </span>
    <span>
        <strong> React Native</strong>
        <p> Básico avançando para o intermediário </p>
    </span>
    <span>
        <strong> C# </strong>
        <p> intermediário </p>
    </span>
    <span>
        <strong> .NET </strong>
        <p> começando os estudos sobre a tecnologia </p>
    </span>
    <span>
        <strong>GIT e GITHUB </strong>

    </span>
    <br><br>
    <span>
        <strong>Gestão de projetos </strong>
    </span>
    <br><br>
    <span>
        <strong> Engenharia de Software </strong>
    </span>

</div>